body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  text-align: center;
  color: #000000;
}

/*
 * Formatting the header area
 */

header {
  background-color: #1a1a1a;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
}

/*
 * Center the body content
 */

.container {
  width: 1200px;
  margin: 0 auto;
}

div.home {
  background-color: #ffffff;
  text-align: center;
}

div.about {
  background-color: #ffffff;
  text-align: center;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
}
