{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Welcome to my travel portfolio!</h1>
        <p>This website contains pictures I have taken in different countries.</p>
        <br />
        <img src="static/auckland.jpg" width="700" height="500">
        <p>Auckland, New Zealand</p>
        <br />
        <img src="static/balloons.jpg" width="700" height="500">
        <p>Cappadocia, Turkey</p>
        <br />
        <img src="static/cappadocia.jpg" width="700" height="500">
        <p>Cappadocia, Turkey</p>
        <br />
</div>
{% endblock %}